.back-btn {
    background: #472264;
    color: #fff;
    border-radius: 6px;
    padding: 3px;
}
.color-main{
    color: #472264;
}
.button-grp {
    display: flex;
    flex-direction: column !important;
}

.cart-items-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    padding-left: 10px;
    border-radius: 5px;  
    border: 1px solid rgba(0, 0, 0, 0.356);  
}
.btns-inc-dec {
    padding: 0 !important;
    width: auto;
    color: #000;
    display: flex;
    justify-content: end !important;
    min-width: 40px !important;
}
.add-cart-btn {
    font-weight: bold !important;
    background: #D6B336 !important;
    color: #000 !important;
    padding: 12px !important;
    border-radius: 5px !important;
}
.MuiPagination-ul .Mui-selected {
    background: #472264 !important;
    color: #fff;
}
.MuiButtonBase-root.MuiPaginationItem-root {
    background: #693A8E;
    color: #fff;
}