.loginModalMain{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    height: auto;
}

.loginMainDiv{
    display:flex !important;
    flex-direction:column !important;
    justify-content:center !important;
    height:100% !important;
}

.loginFormFlex{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 20px;
}

.loginSideLogo{
    width: 400px;
    height: 100%;
    min-height: 500px;
}
